  <input id="inp_command" value='DECIMAL : x * DUP 10 < IF $30 EMIT THEN 0 .R SPACE ;' size=80></input>
  <a id='btn_sendcommand' class='btn btn-primary'>send</a>
  <input id="inp_filename" value='test.f' size=20></input>
  <a id='btn_transferfile' class='btn btn-primary'>transfer</a>