<!-- C:\ksanapc\atmega_ide\aura_components\status-widget\template.tmpl -->
<!-- 網頁板面規劃 請參閱 BOOTSTRAP http://getbootstrap.com -->
<span id="trying">Connecting....</span><br/>
port:<%=port%> baud:<%=baud%> connect:<%=connected%>
